@tailwind base;
@tailwind components;
@tailwind utilities;

.color{
    color: red;
}

.bg-primary{
   background-color: #398ec2;
}

.bg-surface{
    background-color:#f2eeee ;
}

.font-primary{
    color:#252424 ;

}

.font-color-primary{
    
}
.font-secondary{
    color:#605e5e ;
}